<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.catalog">

    <application
        android:allowBackup="false"
        android:label="UI Catalog"
        android:theme="@style/Theme.Material3.DayNight.NoActionBar">
        <activity
            android:name=".CatalogActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>